.cart__tab {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 30px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}

.cart__tick-box {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

.cart__product {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-right: 2rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.cart__product-item-image {
    max-width: 15rem;
    max-height: 15rem;
    transition: 0.3s;
}

.cart__product-item {
    display: flex;
    /* align-items: center; */
    width: 43%;
    position: relative;
    flex-direction: column;
    padding-left: 2.5rem;
}

.cart__product-item-name {
    display: flex;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 2rem;
    text-decoration: none;
    /* text-align: center; */
    align-items: center;
    font-weight: normal;
}

.cart__product-unit-price-wrap {
    width: 14%;
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.cart__product-unit-price-old {
    color: rgba(0, 0, 0, .54);
    text-decoration: line-through;
    padding-right: 2rem;
}

.cart__product-quantity-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15.4265%;
}

.cart__product-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__product-quantity-btn {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.cart__product-quantity-main {
    outline: none;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: background-color .1s cubic-bezier(.4, 0, .6, 1); */
    border: 1px solid rgba(0, 0, 0, .09);
    /* border-radius: 2px; */
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.cart__product-total {
    width: 12.43557%;
    color: #ee4d2d;
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.cart__product-func {
    width: auto;

    padding: 2.5rem;

}

.cart__product-func-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;

}

.cart__product-func-btn:hover {
    color: #ee4d2d;

}

.pay-wrap {

    border-radius: 0;
    /* transition: */
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 0s;
    transition-property: background;

    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

}

.pay-wrap::before {

    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .06));

}

.pay {
    padding: 12px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 3.8rem;
    right: 3.8rem;
    height: 10rem;
    width: 100%;
    background-color: white;
    /* Màu nền và độ mờ của div nổi */
    z-index: 1;

    box-shadow: 0 -3px 10px rgba(37, 37, 37, 0.4);
}

.pay-name {
    font-size: 2rem;
    width: 45%;
    align-items: center;
    padding-left: 2rem;
    margin-left: 2.5rem;

}

.pay-total {
    display: flex;
    flex-direction: column;
}

.pay-pop-over {
    position: relative;
    align-items: center;
}

.pay-pop-over-title {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}

.pay-pop-over-money {
    font-size: 24px;
    line-height: 28px;
    margin-left: 3rem;
    color: #ee4d2d;
}

.pay-pop-over-sale-title {

    margin-top: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.pay-pop-over-sale-money {
    padding-left: 2.5rem;
    font-size: 1.5rem;
    color: #ee4d2d;
    align-items: center;
}

.pay-pop-over-btn-wrap {
    padding: 2rem;
    margin-left: 3rem;
    align-items: center;
    justify-items: center;
}


.pay-pop-over-btn {
    width: 13rem;
    height: 4rem;
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    /* margin-top: 2rem;
    margin-left: 2rem; */
    background: var(--primary-color);
    font-size: 1.75rem;
    border: none;
    align-items: center;
    justify-items: center;
}

.no-product {
    font-size: 2rem;
    margin-left: 3rem;
    color: var(--primary-color);
}