.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 600px;
    /* Thay đổi kích thước pop-up theo ý muốn */
    height: 300px;
    /* Thay đổi kích thước pop-up theo ý muốn */
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
    padding: 3rem;
    font-size: 2.3rem;
    color: var(--primary-color);
    align-items: center;
    text-align: center;

}

.content {
    /* padding: 5rem; */
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: 1.8rem;
    color: black;
    height: 110px;
    /* align-items: center; */
    /* text-align: center; */
}

.popup-btn-wrap {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

}

.popup-btn {
    width: 550px;
    height: 4rem;
    margin-top: 2rem;
    /* background: #ff0000; */
    color: var(--white-color);
    font-size: 1.9rem;
    /* border-radius: 0.2rem; */
    /* background: rgba(255,87,34,.1); */
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}