.aside-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 1.4rem;
    height: 4.5rem;
    align-items: center;
    transition: 0.2s;
}

.aside-link-heading {
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s;
}

.aside-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 1.4rem;
    align-items: center;
    transition: 0.2s;
}

.aside-link-heading {
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s;
    height: 4.5rem;
}

.comment-item-user1 {
    align-items: center;
    display: flex;
    font-size: 2rem;
}