/* -----header-------- */
.header-bar {
    top: 0;
    left: 0;

    width: 100%;
    min-height: 56px;
    max-height: 56px;
    z-index: 6666;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(74, 74, 78, .12);
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, .12);
    color: var(--primary-color);
}

.header__top {
    height: 60px;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: #ef2317;
    z-index: 6666;
}

/* --------end header--------- */
.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 56px;
}


.sidebar-container {
    position: fixed;
    z-index: 10;
    width: 220px;
    height: calc(100% - 56px);
    overflow-y: hidden;
    overflow-x: hidden;
    background: #fff;
    scrollbar-width: thin;
}

.sidebar {
    width: 250px;
    background: #f0f0f0;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 150px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    margin-bottom: 10px;

}

.sidebar-link {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2rem;
}

.submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-size: 3.5rem;
    line-height: 18px;
    padding: 3px 0;

}

.submenu li {
    margin-bottom: 5px;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #666;
    padding-left: 20px;
}

.sidebar-item.active .submenu {
    display: block;
}

/* .row {
    --cui-gutter-x: 1.5rem;
    --cui-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--cui-gutter-y));
    margin-right: calc(-0.5 * var(--cui-gutter-x));
    margin-left: calc(-0.5 * var(--cui-gutter-x));
} */

.content-container {

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 0.5rem;


    margin: 30px 250px;

}

.card {
    --cui-card-spacer-y: 1rem;
    --cui-card-spacer-x: 1rem;
    --cui-card-title-spacer-y: 0.5rem;
    --cui-card-border-width: 1px;
    --cui-card-box-shadow: ;
    --cui-card-inner-border-radius: calc(0.375rem - 1px);
    --cui-card-cap-padding-y: 0.5rem;
    --cui-card-cap-padding-x: 1rem;
    --cui-card-cap-bg: rgba(0, 0, 21, 0.03);
    --cui-card-cap-color: unset;
    --cui-card-height: ;
    --cui-card-color: unset;
    --cui-card-img-overlay-padding: 1rem;
    --cui-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: column;
    height: 120px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border: 1px solid rgba(0, 0, 21, 0.175);
    border-radius: 0.375rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.375rem - 1px);
    border-bottom-left-radius: calc(0.375rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.chart-body {
    margin: 1rem 250px;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.d-flex {
    display: flex !important;
}

.fw-semibold {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.fw-normal {
    font-size: 2rem;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 25%;
}

.card-title {
    font-size: 3rem;
    font-weight: 300;


}

.text-medium-emphasis {
    font-size: 2rem;
    font-weight: 50;
    margin-top: 10px;
}